[class*="col-"]{
    float: left;
    padding: 10px 20px 0px 10px;
}
@media only screen and (max-width: 600px){

    [class*=col-]{
        width: 100%;
    }

}

@media only screen and (min-width: 601px){

    .col-1{
        width: 8.33%;
    }
    .col-2{
        width: 16.66%;
    }
    .col-3{
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }


}

h1, h3{
    text-align: center;
    color:#ffa260;
}
nav{
    margin: 10px;
    float: left;
}

nav button{
    border-color: #ffa260;
    float: left;
    background-color: #151b29;
    color: #ffa260;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: all 0.25s;
}
nav button:hover{
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 5px 5px -4px #f1ff5c;
}

form button{
    width: 100px;
    border-radius: 10px;
    color: #ffa260;
    border: 2px solid;
    font-size: 1em;
    background-color: #151b29;
}

form button:hover{
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 5px 5px -4px #f1ff5c;
    transform: translateY(-2px)
}

input{
    height: 24px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #ffa260;
    margin-right: 2px;
}
input:hover{
    border-color: #f1ff5c;
}

form{
    margin: 5px;
    display: flex;
    justify-content: center;
}

#poruke{
    padding-top: 100px;
    padding-left: 10px;
}

section{
    height: 400px;
    display: inline-block;
    width: 100%;
    border: 2px solid rgb(224, 207, 207);
    border-radius: 10px;
}
body{
    background-image: url("https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"); 
    background-size: cover;
}

.row{
    width: 100%;
    overflow: hidden;
}
ul{
    list-style: none;
}
ul li{
    width: 30%;
    background-color: #ffc69e;
    margin: 2px;
    padding: 5px;
    border-radius: 0px 10px 10px 10px;
}


