[class*="col-"]{
    float: left;
    padding: 10px 20px 0px 10px;
}
@media only screen and (max-width: 600px){

    [class*=col-]{
        width: 100%;
    }

}

@media only screen and (min-width: 601px){

    .col-1{
        width: 8.33%;
    }
    .col-2{
        width: 16.66%;
    }
    .col-3{
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }


}


h1, h3{
    text-align: center;
    color:rgb(155, 0, 31);
}

nav button{
    float: left;
    width: 25%;
    background-color: rgb(155, 0, 31);
    color: white;
    font-size: larger;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}

form button{
    width: 100px;
    border-radius: 10px;
}

form{
    margin: 5px;
    display: flex;
    justify-content: center;
}

#poruke{
    padding-top: 100px;
    padding-left: 10px;
}

input{
    width: 300px;
    border-radius: 10px;
}

section{
    height: 400px;
    display: inline-block;
    width: 100%;
    border: 2px solid rgb(224, 207, 207);
    border-radius: 10px;
}

.row{
    width: 100%;
    overflow: hidden;
}


